# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.idea
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/build.ninja
cmake-build-debug/.cmake/api/v1/reply/target-Assignment_1-Debug-b7e27fefdf411ca7ef38.json
cmake-build-debug/.cmake/api/v1/reply/target-Assignment_1-Debug-4235111e028db3571153.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-09-05T15-56-22-0392.json
*.json
*.json
*.ninja
*.log
*.txt
/cmake-build-debug
/cmake-build-debug
/cmake-build-debug
*.json
*.json
